html, body {
  height: 100%;
}

header {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 75px;
  width: 1000px;
  background-color: purple;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.link {
  align-self: flex-start;
  height: 50px;
  margin-left: 1em;
  background-color: cyan;
}

.one {
  width: 100px;
}

.two {
  width: 90px;
}

.three {
  width: 120px;
}

.main-container {
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  height: 700px;
  width: 1000px;
  background-color: yellow;
}

.main-content {
  width: 700px;
  height: 700px;
}

.sidebar {
  width: 300px;
  height: 700px;
  background-color: green;
}