body, html {
  height: 100%;
}

.container {
  display: flex;
  align-content: flex-end;
  height: 100%;
  background-color: yellow;
  justify-content: flex-end;
  flex-direction: row;
}

.item {
  align-self: flex-end;
  height: 150px;
  width: 150px;
  background-color: purple;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 1em
}

ul {
  list-style: none;
  padding: 0;
}