<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <a href="/">
    <header>
    </header>
  </a>
  <main>
    <div class="middle">
      <%- include('./post'); %>
    </div>
  </main>

</body>

</html>