<h1>Creat a new post</h1>
<div class="input-form">
  <form>
    <label for="title">
      <p>Title:</p>
      <input id="title" name="title" class="form-input">
    </label>
    <label for="price">
      <p>url:</p>
      <input id="url" name="url" class="form-input">
    </label>
    <button type="submit" id="form-submit-button">Submit</button>
  </form>
</div>
</div>